/target
/program/identifier/target
/program/license-service/target
/program/identifier/cli/node_modules
/program/license-service/cli/node_modules
/frontend/node_modules
/frontend/build
*.swp
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
.terraform
