.buttonServicePage {
  margin-top: 40px !important;
  margin-bottom: 10px !important;
}

.buttonAuthPage {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.flex {
  display: flex;
}
.inputs {
  margin-top: 25px !important;
}
.inputstop {
  margin-top: 15px !important;
}
